body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fafafa;
}

a{
    text-decoration:none
}

.baground {
    position: relative;
    top: 0;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    background: #fff;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar li.active>a {
    background-color: #005FB1;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #005FB1;
}

.sidebar .fitur li.active>a,
.sidebar .fitur li.active>a i {
    color: #fff;
}

.sidebar .logo {
    padding: 15px 0px;
    margin: 0;
    display: block;
    position: relative;
}

.sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.9);
}

.sidebar .logo .nama {
    text-transform: uppercase;
    padding: 5px;
    display: inline-block;
    font-size: 18px;
    color: #3C4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
}

.sidebar .sidebar-list{
    position: relative;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
}

.fitur {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 20px;
    display: block;
}

.tulisan {
    display: block;
    
}

.sidebar .fitur i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
}

.sidebar .fitur p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

.sidebar .fitur li a{
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #3C4858;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
}

.sidebar .fitur li:first-child>a {
    margin: 0 15px;
}

@media (max-width: 991px) {
    .sidebar .sidebar-wrapper {
        padding-bottom: 60px;
    }
}

.baground-konten {
    position: relative;
    float: right;
    width: calc(100% - 260px);
}

.baground-konten>.konten {
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}

.baris {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.kolom-4, 
.kolom-8, 
.kolom-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.kolom-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.kolom-8{
    flex: 0 0 55.555555%;
    max-width: 55.555555%;
}

.kolom-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.kotak {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    font-size: .875rem;
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.judul-kotak {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    background: linear-gradient(60deg, #005FB1, #005FB1);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.kotak [class*="judul-kotak"] {
    margin: 0px 15px 0;
    padding: 0;
    position: relative;
}

.kotak [class*="judul-kotak"]{
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}

.judul-kotak h4 {
    margin-bottom: 0.75rem;
    color: #fff;
}

.judul-kotak p{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.isi-kotak{
    flex: 1 1 auto;
    padding: 1.25rem;
}

.kotak .isi-kotak,
.kotak .card-footer {
    padding: 0.9375rem 1.875rem;
}

.kotak .isi-kotak{
    padding: 0.9375rem 20px;
    position: relative;
}

.form{
    padding-bottom: 10px;
    position: relative;
    margin: 8px 0 0;
    margin-bottom: 1rem;
}

input[type="file"] {
    display: none;
}

.ingambarlabel {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align:center;
    width:92%;
}

.isianForm{
    display: block;
    width: 95%;
    padding: 0.4375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #d2d2d2;
    border-radius: 0;
}

.isianForm:focus {
    color: #495057;
    background-color: rgba(0, 0, 0, 0);
    border-color: #9acffa;
    outline: 0;
    box-shadow: none, 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
}


.isianForm {
    border: 0;
    height: 36px;
    transition: background 0s ease-out;
    padding-left: 0;
    padding-right: 0px;
    border-radius: 0;
    font-size: 14px;
    background-image: linear-gradient(to top, #005FB1 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #005FB1 1px, rgba(210, 210, 210, 0) 1px);
}

textarea {
    height: auto !important;
    resize: none;
    line-height: 1.428571 !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.46875rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 77%;
}

.btn-biru {
    color: #ffffff;
    background-color: #005FB1;
    border-color: #005FB1;
    box-shadow: none;
}

.btn-biru:hover {
    color: #ffffff;
    background-color: #005FB1;
    border-color: #005FB1;
}

.card-profile {
    margin-top: 30px;
    text-align: center;
}

.card-profile .bingkai-foto {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile .bingkai-foto img {
    width: 100%;
    height: auto;
}

.card-profile .bingkai-foto{
    max-width: 130px;
    max-height: 130px;
}




