* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.wrap-login100 {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
    
}

.login100-form {
    width: 400px;
    display: block;
    background-color: #F3F3F3;
    padding: 60px 55px;
}

.login100-more {
    width: calc(100% - 400px);
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-image: url('../images/baluran.jpg');
    overflow: hidden;
    
}

@media (max-width: 992px) {
    .login100-form {
        width: 50%;
        padding-left: 30px;
        padding-right: 30px;
}

.login100-more {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .login100-form {
      width: 100%;
    }
  
    .login100-more {
      display: none;
    }
}

.login .form{
    margin-top: 20%;
    margin-left: 10%;
}

.login100-form-title {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3E9CEE;
    line-height: 1.2;
    text-align: center;
    margin-bottom:50px;
}
.login100-form-title h3{
    letter-spacing: 0.3em;
}

.garis{
    margin: 20px 0px;
    width: 100%;

}
::placeholder {
    color: rgb(176, 176, 176);
  }
#inputAtas{
    border-radius: 5px 5px 0px 0px ;
}
#inputBawah{
    border-radius: 0px 0px 5px 5px ;
}
#inputTengah{
    border-radius: 0px ;
}
.input{
    width: 100%;
    background-color: white;
    font-size: 12px;
    height: 40px;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid #E5E5E5;
}


.login100-form button{
    background-color: #3E9CEE;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 30px;
    margin-top: 30px;
}

.container-login-form-btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.container-login-form-btn .btnFacebook{
    background: #425BB4;
    color: #fff;
    line-height: 1.2;   
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;

}

.container-login-form-btn .btnTwitter{
    background:  #34BBF0;
    color: #fff;
    line-height: 1.2;   
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}

.account{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #AAAAAA;
}
.container-login-form-btn .btnSignUp{
    background: #FF5353;
    color: #fff;
    line-height: 1.2;   
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}


/* @media (min-width: 768px) {
   
}
  
@media (min-width: 992px) {
   
}
  
@media (min-width: 1200px) {
   
}

@media only screen and (min-width:600px) {
    
}

@media only screen and (min-width:768px) {
 
    
} */

