<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nglayap || Admin</title>
    <link rel="stylesheet" href="../../../css/admin.css">
    <link rel="icon" type="image/png" href="../../../images/icon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
</head>
<body>
    <div class="baground">
        <div class="sidebar">
            <div class="logo">
                <a href="" class="nama">
                    Admin
                </a>
            </div>
            <div class="sidebar-list">
                <ul class="fitur">
                    <li class="active">
                        <a class="tulisan" href="#">
                            <i class="material-icons">account_circle</i>
                            <p>Profile</p>
                        </a>
                    </li>
                </ul>
                <ul class="fitur">
                    <li>
                        <a class="tulisan" href="#">
                            <i class="material-icons">local_airport</i>
                            <p>Trip</p>
                        </a>
                    </li>
                </ul>
                <ul class="fitur">
                    <li>
                        <a class="tulisan" href="#">
                            <i class="material-icons">exit_to_app</i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="baground-konten">
            <div class="konten">
                <div class="baris">
                    <div class="kolom-8">
                        <div class="kotak">
                            <div class="judul-kotak">
                                <h4>Edit Profile</h4>
                                <p>Isikan Profile Dengan Lengkap</p>
                            </div>
                            <div class="isi-kotak">
                                <form>
                                    <div class="baris">
                                        <div class="kolom-12">
                                            <div class="form">
                                                <label for="ingambar" class="ingambarlabel">Pilih gambar</label>
                                                <input type="file" name="foto" id="ingambar" class="isianForm inputgambar" accept="image/*">
                                            </div>
                                            <div class="form">
                                                <input type="text" class="isianForm" placeholder="Nama">                                                
                                            </div>
                                            <div class="form">
                                                <input type="text" class="isianForm" placeholder="Alamat">                                                
                                            </div>
                                            <div class="form">
                                                <input type="text" class="isianForm" placeholder="Tempat Tinggal">                                                
                                            </div>
                                            <div class="form">
                                                <textarea class="isianForm" placeholder="Deskripsi" rows="4"></textarea>                                              
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-biru">Update Profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="kolom-4">
                        <div class="kotak card-profile">
                            <div class="bingkai-foto">
                                <a href="#pablo">
                                    <img class="img" id="gambarpreview" src="../../../images/icon.png"/>
                                </a>
                            </div>
                            <div class="isi-kotak">
                                <h4>Shohihul</h4>
                                <h6>CEO Nglayap</h6>
                                <p class="card-description">
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum quod odit modi dicta facere iure. Tenetur harum eaque tempore consequuntur voluptatibus et blanditiis! At veniam soluta consequatur aliquid distinctio?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../js/jquery/jquery.js"></script>
<script type="text/javascript" src="../../../js/javascript.js"></script>
</html>