<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nglayap || Admin</title>
    <link rel="stylesheet" href="../../../css/admin.css">
    <link rel="icon" type="image/png" href="../../../images/icon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
</head>
<body>
    <div class="baground">
        <div class="sidebar">
            <div class="logo">
                <a href="" class="nama">
                    Admin
                </a>
            </div>
            <div class="sidebar-list">
                <ul class="fitur">
                    <li>
                        <a class="tulisan" href="../Profile/index.html">
                            <i class="material-icons">account_circle</i>
                            <p>Profile</p>
                        </a>
                    </li>
                </ul>
                <ul class="fitur">
                    <li class="active">
                        <a class="tulisan" href="../Trip/index.html">
                            <i class="material-icons">local_airport</i>
                            <p>Trip</p>
                        </a>
                    </li>
                </ul>
                <ul class="fitur">
                    <li>
                        <a class="tulisan" href="../../login.html">
                            <i class="material-icons">exit_to_app</i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="baground-konten">
            <div class="konten">
                <div class="baris">
                    <div class="kolom-12">
                        <div class="kotak">
                            <div class="judul-kotak">
                                <h4>List Trip</h4>
                            </div>
                            <div class="isi-kotak">
                                <button id="tambah" type="button" class="btn btn-biruMuda">Tambah</button>
                                <br><br>
                                <div>
                                    <table>
                                        <thead class="text-primary">
                                            <th>
                                                No
                                            </th>
                                            <th>
                                                Nama
                                            </th>
                                            <th>
                                                Harga
                                            </th>
                                            <th>
                                                Lokasi
                                            </th>
                                            <th>
                                                Rating
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </thead>
                                        <tbody id="data">
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Gunung Bromo
                                                </td>
                                                <td>
                                                    15.000
                                                </td>
                                                <td>
                                                   Probolinggo
                                                </td>
                                                <td>
                                                    5
                                                </td>
                                                <td>
                                                    <a id="ubah" href="#">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="material-icons">delete</i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    Kawah Ijen
                                                </td>
                                                <td>
                                                    20.000
                                                </td>
                                                <td>
                                                    Banyuwangi
                                                </td>
                                                <td>
                                                    5
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                    <a href="">
                                                        <i class="material-icons">delete</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tambahTrip" class="popup">
                                <div class="isiPopup">
                                    <div class="popup-header">
                                        <span class="close">&times;</span>
                                        <h2>Tambah Trip</h2>
                                    </div>
                                    <form name="myForm">
                                        <div class="popup-body">
                                            <div class="form">
                                                <label for="judul">Nama:</label>
                                                <input type="text" id="nama" name="judul" placeholder="Masukkan Judul" required>
                                            </div>
                                            <div class="form">
                                                <label for="harga">Harga:</label>
                                                <input type="text" id="harga" name="harga" placeholder="Masukkan Harga" required>
                                            </div>
                                            <div class="form">
                                                <label for="lokasi">Lokasi:</label>
                                                <input type="text" id="lokasi" name="lokasi" placeholder="Masukkan Lokasi" required>
                                            </div>
                                            <div class="form">
                                                <label for="rating">Rating: (1-5)</label>
                                                <input type="text" id="rating" name="rating" placeholder="Masukkan Rating" required>
                                            </div>
                                            <div class="form">
                                                <label for="deskripsi">Deskripsi:</label>
                                                <textarea type="text" rows="3" id="deskripsi" name="deskripsi" placeholder="Masukkan Deskripsi" required></textarea>
                                            </div>
                                        </div>
                                        <div class="popup-footer">
                                            <button id="tambah" type="button" class="btn1 btn-biruMuda input">Tambah</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="ubahTrip" class="popup">
                                <div class="isiPopup">
                                    <div class="popup-header">
                                        <span class="close1">&times;</span>
                                        <h2>UBah Trip</h2>
                                    </div>
                                    <form action="">
                                        <div class="popup-body">
                                            <div class="form">
                                                <label for="judul">Nama:</label>
                                                <input type="text" id="nama" name="judul" placeholder="Masukkan Judul" value="Gunung Bromo" required>
                                            </div>
                                            <div class="form">
                                                <label for="harga">Harga:</label>
                                                <input type="text" id="harga" name="harga" placeholder="Masukkan Harga" value="15.000" required>
                                            </div>
                                            <div class="form">
                                                <label for="lokasi">Lokasi:</label>
                                                <input type="text" id="lokasi" name="lokasi" placeholder="Masukkan Lokasi" value="Probolinggo" required>
                                            </div>
                                            <div class="form">
                                                <label for="rating">Rating: (1-5)</label>
                                                <input type="text" id="rating" name="rating" placeholder="Masukkan Rating" value="5" required>
                                            </div>
                                            <div class="form">
                                                <label for="deskripsi">Deskripsi:</label>
                                                <textarea type="text" rows="3" id="deskripsi" name="deskripsi" placeholder="Masukkan Deskripsi" required>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime voluptatum dolores voluptates amet? Vero sit distinctio rem mollitia, 
                                                    dolorum dignissimos aperiam eum obcaecati cum fugiat iure excepturi optio illum vel.
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="popup-footer">
                                            <button id="tambah" type="button" class="btn1 btn-biruMuda">Ubah</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../js/jquery/jquery.js"></script>
<script type="text/javascript" src="../../../js/javascript.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var no = 2;
        $(".input").click(function(){
            input();
            $('#tambahTrip').css("display", "none");
        })
        function input(){
            var nama = document.getElementById("nama").value;
            var harga = document.getElementById("harga").value;
            var lokasi = document.getElementById("lokasi").value;
            var rating = document.getElementById("rating").value;
            var deskripsi = document.getElementById("deskripsi").value;
            no++;

            $("#data").append('<tr><td>'+no+'</td><td>'+nama+'</td><td>'+harga+'</td><td>'+harga+'</td><td>'+rating+'</td><td><a href=""><i class="material-icons">edit</i></a><a href=""><i class="material-icons">delete</i></a></td>/tr></tbody>');
            

        }
    })

</script>
</html>