<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nglayap || Admin</title>
    <link rel="stylesheet" href="../../../css/admin.css">
    <link rel="icon" type="image/png" href="../../../images/icon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
</head>
<body>
    <div class="baground">
        <div class="sidebar">
            <div class="logo">
                <a href="" class="nama">
                    Admin
                </a>
            </div>
            <div class="sidebar-list">
                <ul class="fitur">
                    <li class="active">
                        <a class="tulisan" href="#">
                            <i class="material-icons">account_circle</i>
                            <p>Profile</p>
                        </a>
                    </li>
                </ul>
                <ul class="fitur">
                    <li>
                        <a class="tulisan" href="#">
                            <i class="material-icons">local_airport</i>
                            <p>Trip</p>
                        </a>
                    </li>
                </ul>
                <ul class="fitur">
                    <li>
                        <a class="tulisan" href="#">
                            <i class="material-icons">exit_to_app</i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="baground-konten">
            <div class="konten">
                <div class="baris">
                    <div class="kolom">
                        <div class="kotak">
                            <div class="judul-kotak">
                                <h4>Edit Profile</h4>
                                <p>Isikan Profile Dengan Lengkap</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="baris">
                                        <div class="kolom1">
                                            <div class="form">
                                                <label>Adress</label>
                                                <input type="text" class="isianForm">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>