<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nglayap</title>
        <link rel="icon" type="image/png" href="../images/icon.png">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/fontawesome/all.css">
    </head>
    <body>
        <div class="hero-image image-destination" hero-image="papuma">
            <div class="menu">
                <h4>NGLAYAP</h4>
                <nav class="navigasi">
                    <input type="checkbox" id="btn-responsive" hidden/>
                    <label for="btn-responsive" class="btn-responsive">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </label>
                    <ul class="nav-menu">
                        <li><a href="Home.html">HOME</a></li>
                        <li><a href="Trip.html">TRIP</a></li>
                        <li><a href="Service.html">SERVICES</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="login.html"><img src="../images/user.svg" alt="" class="login"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="detail">
                <h1 class="judul">pantai papuma</h1>
                <h6 class="lokasi">Kabupaten Jember, Jawa Timur</h6>
            </div>
        </div>

        <div class="data">
            <div class="foto">
                <img id="papuma" class="image-destination" src="">
            </div>
            <div class="informasi">
                <label for="">About us :</label>
                <h1>pantai papuma</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, neque? Consectetur ipsam modi sit cumque obcaecati minus, harum veritatis adipisci ab blanditiis sequi. Veritatis, aut? Earum labore perferendis totam nobis.</p>

                <h3>
                    <img src="../images/hotel.svg" class="icon">
                    Available Hotel
                </h3>
                <ul>
                    <li>Foresta Papuma Beach Resort</li>
                </ul>

                <h3>
                    <img src="../images/map.svg" class="icon">
                    Map
                </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d47995.530363696336!2d113.56400900481194!3d-8.427146223745568!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x359b23c72224d89!2sPantai%20Tanjung%20Papuma!5e0!3m2!1sen!2sid!4v1574053233396!5m2!1sen!2sid" width="500" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="footer" id="footerDark">
            <div class="tulisanKiri">
                <h3>NGLAYAP</h3> 
            </div>
            <div class="tulisanKanan">
                <nav>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">HELP</a></li>
                        <li><a href="#">PRIVACY</a></li>
                        <li><a href="#">TERM</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <button id="topBtn">
            <img src="../images/arrow-up.svg" alt="">
        </button>
    </body>
    <script type="text/javascript" src="../js/jquery/jquery.js"></script>
    <script type="text/javascript" src="../js/javascript.js"></script>
</html>