<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nglayap</title>
        <link rel="icon" type="image/png" href="../images/icon.png">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="hero-image" id="home_image">
            <div class="menu">
                <h4>NGLAYAP</h4>
                <nav class="navigasi">
                    <input type="checkbox" id="btn-responsive" hidden/>
                    <label for="btn-responsive" class="btn-responsive">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </label>
                    <ul class="nav-menu">
                        <li><a href="#" class="active">HOME</a></li>
                        <li><a href="Trip.html">TRIP</a></li>
                        <li><a href="Service.html">SERVICES</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="login.html"><img src="../images/user.svg" alt="" class="login"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="container">
                <h1>TRAVELING</h1>
                <h6 class="des">IS EASY AND FUN</h6>
            </div>
            <div class="member">
                <h3>Exclusively for Members</h3>
                <span><a href="#">LOG IN</a> or <a href="#">REGISTER</a> to enjoy these benefits</span>
            </div>
            <div class="search">
                <form action="">
                    <div>
                        <span>Your Budget</span>
                            <input type="text">
                        </div>
                    <div>
                        <span>Duration</span>
                        <select name="duration" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <span>Guest</span>
                        <select name="guest" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <button>Search</button>
                </form>
            </div>
        </div>
        <div class="destinasiPopuler">
            <div class="title">
                <div class="line"></div>
                <h1>DESTINASI TERPOPULER</h1>
            </div>
            <div class="populer">
                <div class="konten">
                    <img src="../images/bromoSemeru.jpg" alt="" id="img1">
                    <h3 id="img">Gunung Bromo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                    <div class="rating">
                        <img src="../images/star.svg" alt="" class="star">
                        <img src="../images/star.svg" alt="" class="star">
                        <img src="../images/star.svg" alt="" class="star">
                        <img src="../images/star.svg" alt="" class="star">
                        <img src="../images/star.svg" alt="" class="star">
                        <h6>2436 Ratings</h6>
                    </div>
                </div>
                <div class="konten">
                    <img src="../images/ijen.jpg" alt="" id="img2">
                    <h3 id="img">Kawah Ijen</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                    <div class="rating">
                        <img src="../images/star.svg" alt="">
                        <img src="../images/star.svg" alt="">
                        <img src="../images/star.svg" alt="">
                        <img src="../images/star.svg" alt="">
                        <img src="../images/star.svg" alt="">
                        <h6>2436 Ratings</h6>
                    </div>
                </div>
                <div class="konten">
                    <img src="../images/papuma.jpg" alt="" id="img3">
                    <h3 id="img">Pantai Papuma</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                    <div class="rating">
                        <img src="../images/star.svg" alt="">
                        <img src="../images/star.svg" alt="">
                        <img src="../images/star.svg" alt="">
                        <img src="../images/star.svg" alt="">
                        <img src="../images/star.svg" alt="">
                        <h6>2436 Ratings</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="wisata">
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/ijen.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/bromoSemeru.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/pantai papuma.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/baluran.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/borobudur.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/labuanBajo.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
        <div class="footer" id="footerDark">
                <div class="tulisanKiri">
                    <h3>NGLAYAP</h3> 
                </div>
                <div class="tulisanKanan">
                    <nav>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">HELP</a></li>
                            <li><a href="#">PRIVACY</a></li>
                            <li><a href="#">TERM</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
    </body>
    <script>
        window.onscroll = function() {myFunction()};
        
        function myFunction() {
            if (document.body.scrollTop > 230 || document.documentElement.scrollTop > 230) {
            document.getElementById("img1").className = "slideUp";
            document.getElementById("img2").className = "slideUp";
            document.getElementById("img3").className = "slideUp";
            }
        }
    </script>

</html>