<!DOCTYPE html>
<html>
<head>
<title>JSON JQUERY - PHP</title>
<script type="text/javascript" src="../js/jquery/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#province").each(function(){
            $.ajax({
                url: "{{ route('admin.regencie.get_by_province') }}?province_id=" + $(this).val(),
                method: 'GET',
                success: function(data) {
                    $('#regencie').append(data.html);
                }
            });
        });
        
        $("#data").each(function(){
            $.ajax({
                url: "data.php",
                method: 'GET',
                success: function(data) {
                    var html = "";
                    for(var a = 0; a < data.length; a++) {
                        var name = data[a].name;
                        var rating = data[a].rating;
                        var image = data[a].image;

                        html += "<tr>";
                            html += "<td>" + name + "</td>";
                            html += "<td>" + rating + "</td>";
                            html += "<td>" + image + "</td>";
                        html += "</tr>";
                    }
                    document.getElementById("data").innerHTML += html;
                }
            });
        });
    })
</script>
</head>
<body>
	<h1>Demo JQUERY GetJSON Ambil data dari JSON PHP</h1>
	<p>Halaman ini mendemokan bagaimana GetJSON JQUERY mampu mempersing data JSON yang digenerate oleh PHP JSON ENCODE</p>

	<table>
        <tr>
        <th>Name
        <th>Rating
        <th>image
        </tr>
    
        <tbody id="data"></tbody>
    </table>
	<br />
	<a href="">Kembali ke tutorial</a>
</body>
</html>