<!DOCTYPE html>
<html>
<head>
<title>JSON JQUERY - PHP</title>
<script type="text/javascript" src="../js/jquery/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({ 
            type: 'GET', 
            url: 'https://raw.githubusercontent.com/HafizArdi/HafizArdi.github.io/master/views/data.json', 
            data: { get_param: 'value' }, 
            dataType: 'json',
            success: function (data) { 
                $.each(data, function(index, element) {
                    $('#data').append($('<div>', {
                        text: element.name
                    }));
                });
            }
        });
    })
</script>
</head>
<body>
	<h1>Demo JQUERY GetJSON Ambil data dari JSON PHP</h1>
	<p>Halaman ini mendemokan bagaimana GetJSON JQUERY mampu mempersing data JSON yang digenerate oleh PHP JSON ENCODE</p>
    <div class="">
        <a class="load-data" href="#!">Load Data</a>
    </div>
	<table>
        <tr>
        <th>Name
        <th>Rating
        <th>image
        </tr>
    
        <tbody id="data"></tbody>
    </table>
	<br />
	<a href="">Kembali ke tutorial</a>
</body>
</html>