<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nglayap</title>
    <link rel="icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" href="../css/nglayap.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form" method="POST" action="">
                    <div class ="logo">
                        <a href=""><img src="../images/logo4.png" class="logo"></a>
                    </div>
                    <div class="form-group">
                        <input class="input" id="validationEmail" type="text" placeholder="EmailAddress">
                    </div><br>
                    <div class="form-group">
                        <input class="input" id="validationPassword" type="text" placeholder="Password">
                    </div>
                    <img src="../images/line.png" class="garis">
                    <div class="container-login-form-btn">
                        <button class="login-form-btnFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"> Login With Facebook</i>
                        </button>
                    </div>
                    <div class="container-login-form-btn">
                        <button class="login-form-btnTwitter">
                            <i class="fa fa-twitter-square" aria-hidden="true"> Login With Twitter</i>
                        </button>
                    </div>
                    <div class="account">
                        <label class="textAbu" >Don't have account ?</label>
                    </div> 
                    <div class="container-login-form-btn">
                        <button class="login-form-btnSignUp">
                            <i> SIGN UP NOW</i>
                        </button>
                    </div>  
                </form>
                <div class="login100-more" style="background-image: url('../images/login.jpg');">
                </div>
            </div>
        </div>
    </div>
</body>
</html>