<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nglayap</title>
    <link rel="icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" href="../css/nglayap.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form">
                    <form name="myForm" onsubmit="return validateForm()" method="POST" action="../views/register.html">
                        <span class="login100-form-title">
                            <h3>NGLAYAP</h3>
                        </span>
                        <div class="form-group">
                            <input class="input" id="inputAtas" type="text" placeholder="Email Address" name="email">
                        </div>
                        <div class="form-group">
                            <input class="input" id="inputBawah" type="password" placeholder="Password" name="password">
                        </div>
                        <button>SIGN IN</button>
                    </form>
                    <img src="../images/line.png" class="garis">
                    <div class="container-login-form-btn">
                        <button class="btnFacebook">Login With Facebook</button>
                    </div>
                    <div class="container-login-form-btn">
                        <button class="btnTwitter">Login With Twitter</button>
                    </div>
                    <div class="account">Don't have account ?</div> 
                    <div class="container-login-form-btn">
                        <button type="submit" href="" class="btnSignUp">SIGN UP NOW</button>
                    </div>
                </div>
                <div class="login100-more"></div>
            </div>
        </div>
    </div>
    <script>
        function validateForm() {
          var email = document.forms["myForm"]["email"].value;
          var password = document.forms["myForm"]["password"].value;

          if (email == "") {
            alert("Email harus diisi");
            return false;
          }else{
            alert("Password harus diisi");
            return false;
          }
        }
    </script>
</body>
</html>