<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nglayap</title>
    <link rel="icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" href="../css/nglayap.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form">
                    <form id="register" name="myForm" onsubmit="return validateForm()" method="POST" action="../views/login.html">
                        <span class="login100-form-title">
                            <h3>REGISTER</h3>
                        </span>
                        <div class="form-group">
                            <input class="input" id="inputAtas" type="text" placeholder="Nama" name="nama">
                        </div>
                        <div class="form-group">
                            <input class="input" id="inputtengah" type="email" placeholder="Email Address" name="email">
                        </div>
                        <div class="form-group">
                            <input class="input" id="inputTengah" type="password" placeholder="Password" name="password">
                        </div>
                        <div class="form-group">
                            <input class="input" id="inputBawah" type="password" placeholder="Confirmation Password" name="confirmation">
                        </div>
                        <div class="container-login-form-btn">
                            <button type="submit" class="btnSignUp">DAFTAR
                            </button>
                        </div>  
                    </form>
                    <br><br><br><br><br>
                    <div class="account">Don't have account ?</div> 
                    <div class="container-login-form-btn">
                        <button type="submit" class="btnSignIn">SIGN UP NOW</button>
                    </div>
                </div>
                <div class="login100-more"></div>
            </div>
        </div>
    </div>
    <script>
        function validateForm() {
          var nama = document.forms["myForm"]["nama"].value;
          var email = document.forms["myForm"]["email"].value;
          var password = document.forms["myForm"]["password"].value;
          var confirmation = document.forms["myForm"]["confirmation"].value;

          if (nama == "") {
            alert("Nama harus diisi");
            return false;
          }
          if(email == ""){
            alert("Email harus diisi");
            return false;
          }
          if(password == ""){
            alert("Password harus diisi");
            return false;
          }
          if(confirmation == ""){
            alert("Password Konfirmasi harus diisi");
            return false;
          }
        }
    </script>
</body>
</html>