<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nglayap</title>
    <link rel="icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" href="../css/nglayap.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form">
                    <form method="POST" action="../views/login.html">
                        <span class="login100-form-title">
                            <h3>REGISTER</h3>
                        </span>
                        <div class="form-group">
                            <input class="input" id="inputAtas" type="text" placeholder="Nama">
                        </div>
                        <div class="form-group">
                            <input class="input" id="inputtengah" type="text" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input class="input" id="inputTengah" type="text" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input class="input" id="inputBawah" type="text" placeholder="Confirmation Password">
                        </div>
                        <div class="container-login-form-btn">
                            <button type="submit" class="btnSignUp">DAFTAR
                            </button>
                        </div>  
                    </form>
                    <br><br><br><br><br>
                    <div class="account">Don't have account ?</div> 
                    <div class="container-login-form-btn">
                        <button type="submit" class="btnSignIn">SIGN UP NOW</button>
                    </div>
                </div>
                <div class="login100-more"></div>
            </div>
            
        </div>
    </div>
</body>
</html>