<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nglayap</title>
        <link rel="icon" type="image/png" href="../images/icon.png">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="hero-image" id="trip_image">
            <div class="menu">
                <h4>NGLAYAP</h4>
                <nav>
                    <ul>
                        <li><a href="Home.html">HOME</a></li>
                        <li><a href="Trip.html">TRIP</a></li>
                        <li><a href="Service.html" class="active">SERVICES</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="login.html"><img src="../images/user.svg" alt="" class="login"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="container">
                <h1>TRAVELING</h1>
                <h6 class="des">IS EASY AND FUN</h6>
            </div>
        </div>
        <div class="destinasiPopuler">
            <div class="title">
                <div class="line"></div>
                <h1>SERVICES</h1>
            </div>
            <div class="service">
                <div class="konten">
                    <img class="icon" src="../images/resort.svg" alt="">
                    <h3>Hotel Bookings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                </div>
                <div class="konten">
                        <img class="icon" src="../images/beach.svg" alt="">
                    <h3>Best Trip</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                </div>
                <div class="konten">
                        <img class="icon" src="../images/lifeInsurance.svg" alt="">
                    <h3>Insurance For Tourists</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                </div>
            </div>
        </div>
        <div class="footer" id="footerBlue">
            <div class="tulisanKiri">
                <h3>NGLAYAP</h3> 
            </div>
            <div class="tulisanKanan">
                <nav>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">HELP</a></li>
                        <li><a href="#">PRIVACY</a></li>
                        <li><a href="#">TERM</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>