<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nglayap</title>
        <link rel="icon" type="image/png" href="../images/icon.png">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="trip_image" class="hero-image">
            <div class="menu">
                <h4>NGLAYAP</h4>
                <nav class="navigasi">
                        <input type="checkbox" id="btn-responsive" hidden/>
                        <label for="btn-responsive" class="btn-responsive">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </label>
                        <ul class="nav-menu">
                            <li><a href="Home.html">HOME</a></li>
                            <li><a href="Trip.html" class="active">TRIP</a></li>
                            <li><a href="Service.html">SERVICES</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="login.html"><img src="../images/user.svg" alt="" class="login"></a></li>
                        </ul>
                    </nav>
            </div>
            <div class="container">
                <h1>TRAVELING</h1>
                <h6 class="des">IS EASY AND FUN</h6>
            </div>
        </div>
        <div class="trip" id="destination">
            <div class="konten">
                <div class="title">
                    <h3>Gunung Rinjani</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/rinjani.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <a href="rinjani.html">Read more</a>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Gunung Prau</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/prau.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <a href="prau.html">Read more</a>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Pantai Pandawa</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/pandawa.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <a href="pandawa.html">Read more</a>
            </div>
        </div>

        <div class="trip">
            <button class="more" id="load">Show More</button>
        </div>

        <div class="footer" id="footerBlue">
            <div class="tulisanKiri">
                <h3>NGLAYAP</h3> 
            </div>
            <div class="tulisanKanan">
                <nav>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">HELP</a></li>
                        <li><a href="#">PRIVACY</a></li>
                        <li><a href="#">TERM</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <button id="topBtn">
            <img src="../images/arrow-up.svg" alt="">
        </button>
    </body>
    <script type="text/javascript" src="../js/jquery/jquery.js"></script>
    <script type="text/javascript" src="../js/javascript.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#load").click(function(){
                $.ajax({ 
                    type: 'GET', 
                    url: 'https://raw.githubusercontent.com/HafizArdi/HafizArdi.github.io/master/views/data.json', 
                    data: { get_param: 'value' }, 
                    dataType: 'json',
                    success: function (data) { 
                        $.each(data, function(index, elem) {
                            console.log('name '+elem['name']+' - rating '+elem['rating']+' - image '+elem['image']+' - page '+elem['page'])
                            $('#destination').append('<div class="konten"><div class="title"><h3>'+elem['name']+'</h3><div class="rating"><div class="star"><img src="../images/star.svg" alt=""><img src="../images/star.svg" alt=""><img src="../images/star.svg" alt=""><img src="../images/star.svg" alt=""><img src="../images/star.svg" alt=""></div><h5>'+elem['rating']+' Ratings</h5></div></div><img src="../images/'+elem['image']+'" alt="" class="foto"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p><a href="'+elem['page']+'">Read more</a></div>');
                            $('#load').remove();
                        });
                    }
                });
            });
        })
    </script>
</html>