<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nglayap</title>
        <link rel="icon" type="image/png" href="../images/icon.png">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="hero-image" id="trip_image">
            <div class="menu">
                <h4>NGLAYAP</h4>
                <nav>
                    <ul>
                        <li><a href="Home.html">HOME</a></li>
                        <li><a href="Trip.html" class="active">TRIP</a></li>
                        <li><a href="#">SERVICES</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#"><img src="../images/user.svg" alt="" class="login"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="container">
                <h1>TRAVELING</h1>
                <h6 class="des">IS EASY AND FUN</h6>
            </div>
        </div>
        <div class="trip">
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/ijen.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/bromoSemeru.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/pantai papuma.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/baluran.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/borobudur.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="konten">
                <div class="title">
                    <h3>Kawah Ijen</h3>
                    <div class="rating">
                        <div class="star">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                            <img src="../images/star.svg" alt="">
                        </div>
                        <h5>2436 Ratings</h5>
                    </div>
                </div>
                <img src="../images/labuanBajo.jpg" alt="" class="foto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint exercitationem, et maxime perspiciatis libero eius error sit eaque qui, commodi tempore dolorem aperiam cupiditate asperiores repellendus in deserunt unde.</p>
                <button>Book Now</button>
            </div>
            <div class="footer">
                <p>as</p>
            </div>
        </div>
    </body>
</html>